<div class="filter-box">
  <form method="POST" action="/my-listings/byprice">
      <label class="price-filter-label">Min Price:</label>
        <input type="number" name="min">
      <label class="price-filter-label">Max Price:</label>
        <input type="number" name="max">
      <button type="submit">Submit</button>
  </form>
</div>
