<link rel="stylesheet" href="/styles/filter-box.css" type="text/css" />

<div class="filter-box">
  <form method="POST" action="/filtered-watchlist" id="filter-form">
    <div class="filter">
      <label class="filter-label">Filter favourites by price</label>
    </div>
      <label class="price-filter-label">Min Price:</label>
        <input type="number" id="filter-min-price">
      <label class="price-filter-label">Max Price:</label>
        <input type="number" id="filter-max-price">
      <button type="submit">Submit</button>
  </form>
</div>

