<link rel="stylesheet" href="/styles/footer.css" type="text/css" />

<div class="footer">
    <p>Our Address: 111 Gnome Street, Gnomeville, Gnome County, United States of the Gnomes</p>
    <p>Contact Us: 604-111-2222</p>
    <p>Copyright © 2021</p>
</div>
