<link rel="stylesheet" href="/styles/listings.css" type="text/css" />

<div class="listings-box">
  <div class="listings">
    <div class="listing">
      <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
      <p class="primary-info">Title, price, address, bedrooms, bathrooms, sqr inches</p>
      <div class="description-layer">
        <p class="description">Description: This is a warm cozy home in a great neighbourhood!</p>
        <div class="message-seller-button">
          <form action="/new-message" method="POST">
            <button type="button">Message Seller</button>
          </form>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
      <p class="primary-info">Title, price, address, bedrooms, bathrooms, sqr inches</p>
      <div class="description-layer">
        <p class="description">Description: This is a warm cozy home in a great neighbourhood!</p>
        <div class="message-seller-button">
          <form action="/new-message" method="POST">
            <button type="button">Message Seller</button>
          </form>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
      <p class="primary-info">Title, price, address, bedrooms, bathrooms, sqr inches</p>
      <div class="description-layer">
        <p class="description">Description: This is a warm cozy home in a great neighbourhood!</p>
        <div class="message-seller-button">
          <form action="/new-message" method="POST">
            <button type="button">Message Seller</button>
          </form>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
      <p class="primary-info">Title, price, address, bedrooms, bathrooms, sqr inches</p>
      <div class="description-layer">
        <p class="description">Description: This is a warm cozy home in a great neighbourhood!</p>
        <div class="message-seller-button">
          <form action="/new-message" method="POST">
            <button type="button">Message Seller</button>
          </form>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
      <p class="primary-info">Title, price, address, bedrooms, bathrooms, sqr inches</p>
      <div class="description-layer">
        <p class="description">Description: This is a warm cozy home in a great neighbourhood!</p>
        <div class="message-seller-button">
          <form action="/new-message" method="POST">
            <button type="button">Message Seller</button>
          </form>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
      <p class="primary-info">Title, price, address, bedrooms, bathrooms, sqr inches</p>
      <div class="description-layer">
        <p class="description">Description: This is a warm cozy home in a great neighbourhood!</p>
        <div class="message-seller-button">
          <form action="/new-message" method="POST">
            <button type="button">Message Seller</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
