
<a class="gnome-logo" href="/">
  <p>Gnome</p>
  <p class="small">Sweet</p>
  <p id="second-gnome">Gnome</p>
</a>
<div>
  <a href="/my-listings">My Listings</a>
<a href="/watching">Watching</a>
<a href="/messages">Messages</a>
<a href="/login">Login</a>
</div>


