  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">Gnome Sweet Gnome</a>
    <div class="nav-listings">My Listings</div>
    <a href="/purchases">Purchases</a>
    <div class="nav-watching">Watching</div>
    <a href="/messages">Messages</a>
  </nav>
