  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">Gnome Sweet Gnome</a>
    <a href="/my-listings">My Listings</a>
    <a href="/purchases">Purchases</a>
    <a href="/watching">Watching</div>
    <a href="/messages">Messages</a>
  </nav>
