<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar'); %>
  </nav>

  <main class="main-container">
    <div class="filter-box">
      <form method="POST" action="/byprice">
          <label class="price-filter-label">Min Price:</label>
            <input type="number" name="min">
          <label class="price-filter-label">Max Price:</label>
            <input type="number" name="max">
          <button type="submit">Submit</button>
      </form>
    </div>
    <%- include('../partials/_listings') %>
  </main>
  <script src="https://widgets.coingecko.com/coingecko-coin-compare-chart-widget.js"></script>
<coingecko-coin-compare-chart-widget  coin-ids="bitcoin,solana,cope" currency="usd" locale="en"></coingecko-coin-compare-chart-widget>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
