<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar') %>
  </nav>

  <main>
    <div class="container ">
      <span class="sender">Salziver</span>
      <p>Hello, I would love to discuss my offer for your property</p>
      <span class="time-right">11:00 am</span>
    </div>

    <div class="container darker">
      <span class="sender right">Bimpnottin</span>
      <p>Hey there! Thanks for your interest in my listing, what can I tell you about the property?</p>
      <span class="time-left">11:15 am</span>
    </div>

  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
