<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
</head>

<body>
  <header>
    <%- include('../partials/_navbar') %>
  </header>

  <header>
    <h1>messages</h1>
  </header>

  <main>
    <h3>My Messages</h3>
    <!-- <table class="messages-table">
      <tr>
        <th scope="col"></th>
      </tr>
    </table> -->

    <div class="messages-index">
      <div class="nav">
        <a href="#">inbox</a>
        <a href="#">starred</a>
        <a href="#">sent</a>
      </div>
      <div class="messages">
        <input name="search" placeholder="search" />

        <div class="message">
          <span class="sender">Salziver Deepbelch</span>
          <span class="date">today</span>
          <span class="title">Hello, I would like to submit an offer</span>
        </div>

        <div class="message">
          <span class="sender">Bimpnottin Fnipper</span>
          <span class="date">today</span>
          <span class="title">hello world</span>
        </div>

        <div class="message">
          <span class="sender">Grafan Quickbell</span>
          <span class="date">today</span>
          <span class="title">When was your property built?</span>
        </div>

        <div class="message">
          <span class="sender">Nissa Ashhearth</span>
          <span class="date">today</span>
          <span class="title">hello world</span>
        </div>

        <div class="message">
          <span class="sender">Savyn Wegglehaggle</span>
          <span class="date">yesterday</span>
          <span class="title">What is the neighbourhood like?</span>
        </div>

        <div class="message">
          <span class="sender">Horxif Tunggasanack</span>
          <span class="date">thursday</span>
          <span class="title">I was told there were orcs in the area... Please tell me more.</span>
        </div>

      </div>
    </div>

  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
