<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <title>New Listings</title>
</head>

<body>
  <%- include('../partials/_navbar'); %>

  <main>
    <form action="/listings/new" method="POST" id="new-listing-form">
      <div class="new-listing-form-wrapper">
        <label>Title</label>
        <textarea id="listing-form-description" cols="30" rows="10" required></textarea>
      </div>

      <div>
        <label>Asking Price</label>
        <input type="number" id="listing-form-price" required>
      </div>

      <div>
        <label>Number of Bedrooms</label>
        <input type="number" id="listing-form-bedrooms" required>

        <label>Number of Bathrooms</label>
        <input type="number" id="listing-form-bathrooms" required>
      </div>

      <div>
        <label>Square Inches</label>
        <input type="number" id="listing-form-sqr-inches" required>
      </div>

      <div>
        <label>Address</label>
        <input type="street" placeholder="Street" required>
        <input type="city" placeholder="City" required>
        <input type="state" placeholder="Province" required>
        <input type="postal-code" placeholder="Postal Code" required>
        <input type="county" placeholder="County" required>
        <input type="country" placeholder="Country" required>
      </div>

      <div class="listing-images">
        <label for="thumbnail">Thumbnail image:</label>
        <input type="file" id="thumbnail" name="thumbnail" accept="image/png, image/jpeg" required>

        <!-- <label for="main-image">Main image:</label>
        <input type="file" id="main-image" name="main-image" accept="image/png, image/jpeg"> -->
      </div>
      <div>
        <button type="submit">Create New Listing</button>
      </div>

    </form>

  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
