<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <link rel="stylesheet" href="/styles/new-message.css" type="text/css" />
  <title>New Message</title>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar'); %>
  </nav>

  <main>
    <form action="/new-message/<%= listing %>" method="POST">
      <div class="new-message-form">
        <div class="form-subject">
          <label>Subject:</label>
          <input type="text" name="subject" class="new-message-subject">
        </div>

        <div class="form-body">
          <label>Input your message here:</label>
          <textarea name="body" class="new-message-body" cols="50" rows="15"></textarea>
        </div>
      </div>
      <div class=new-message-button>
        <button type="submit">Send Message</button>
      </div>
    </form>
  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
