<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <title>New Listings</title>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar'); %>
  </nav>

  <main>
    <form name="new-listing" action="/my-listings/new" method="POST">
      <div>
        <label>Title</label>
        <input type="title" name="title" placeholder="Title" required>
      </div>
      <div>
        <label>Description</label>
        <textarea name="description" cols="30" rows="10" placeholder="Enter description" required></textarea>
      </div>

      <div>
        <label>Asking Price</label>
        <input type="number" name="price" required>
      </div>

      <div>
        <label>Number of Bedrooms</label>
        <input type="number" name="bedrooms" required>

        <label>Number of Bathrooms</label>
        <input type="number" name="bathrooms" required>
      </div>

      <div>
        <label>Square Inches</label>
        <input type="number" name="insq" required>
      </div>

      <div>
        <label>Address</label>
        <input type="street" name="street" placeholder="Street" required>
        <input type="city" name="city" placeholder="City" required>
        <input type="province" name="province" placeholder="Province" required>
        <input type="postcode" name="postcode" placeholder="Postal Code" required>
        <input type="country" name="country" placeholder="Country" required>
      </div>

      <div class="listing-images">
        <label for="thumbnail">Thumbnail image:</label>
        <input type="url" name="thumbnail" placeholder="Enter image url" required>
      </div>

      <div>
        <button type="submit">Create New Listing</button>
      </div>
    </form>
  </main>

  <footer>
    <%- include('../partials/_footer') %>
  </footer>


<script type="text/javascript" src="/scripts/client.js"></script>

</body>

</html>
