<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('../partials/_navbar') %>
    </header>

    <main class="listing-container">
    </main>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>

</html>
