<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('../partials/_navbar') %>
    </header>

    <main class="listing-container">
      <div class="listings">
        <% if (listings) { %>
        <% for (let listing of listings)  { %>
            <div class="listing">
              <img src=https://builtbykids.com/wp-content/uploads/2020/04/gnomehome2-1.jpg alt="gnome-home">
              <ul>
                <li><%= listing.title %></li>
                <li><</li>
              </ul>
            <div class="description-layer">
            <p class="description">More info about this home! bedrooms, bathrooms, sqr inches</p>
          </div>
        <% } %>
        <% } %>
        </div>
    </main>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>

</html>
