.filter {
  display: flex;
  justify-content: center;
}

.filter-box {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  padding: 0 0 0 20px;
  border-radius: .8em;
  background-color: #adc8bf;
  font-family: 'Dosis', sans-serif;
}

.filter-box input {
  margin: 0 20px 0 20px;
  width: 100px;
  font-size: 24px;
  outline: none;
  background-color: inherit;
}

.filter-box button {
  margin: 15px;
  padding: 5px;
  font-size: 20px;
}

.filter-box label{
  padding-top: 10px;
  font-size: 24px;
  color: #212529;
}


