.filter {
  display: flex;
  justify-content: center;
}

.filter-box {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f17d00;
  width: 700px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px #888888;
}

.price-filter-label {
  color: #fefefe;
  font-size: 16px;
}

.filter-box button {
  margin: 15px;
  padding: 5px;
}

.filter-box label {
  margin-left: 10px;
  margin-right: 10px;
}

