img {
  max-width: 100%;
  max-height: 100%;
}

.listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.listing {
  border-radius: 2%;
  display: flex;
  position: relative;
  float: left;
  width: 450px;
  padding: 15px;
  height: 300px;
  margin: 5px;
  align-items: center;
  box-shadow: 2px 2px #888888;
  background-color: #fafafa;
}

.listing img {
  margin: 0 15px 0 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 2%;
}

.listing div {
  display: flex;
  flex-direction: column;
}

.primary-info {
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.listing-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #f17d00;
}

.listing-price {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #006341;
}

.listing-addr {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}

.listing .description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#FFA722, 0.95);
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: #fefefe;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.description-layer div {
  display: flex;
  flex-direction: column;
}

.listing:hover .description-layer {
  visibility: visible;
  opacity: 1;
  box-shadow: 5px 5px #888888;
  border-radius: 2%;
}

.description {
  transition: .2s;
  text-align: center;
  margin: 0 25px 0 25px;
  font-size: 16px;
}

.listing-button {
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

.sold-img {
  position: absolute;
  z-index: 99;

}
