img {
  max-width: 100%;
  max-height: 100%;
}

.listings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.listing {
  border-radius: .8em;
  display: flex;
  position: relative;
  float: left;
  width: 450px;
  padding: 20px;
  height: 300px;
  margin: 10px;
  align-items: center;
  box-shadow: 0 0 0 .2em #d9eae4;
  background-color: #d9eae4;
  color: #006341;
}

.listing-img {
  margin: 0 15px 0 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: .6em;
}

.listing div {
  flex-direction: column;
}


.listing-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #f17d00;
}

.listing-price {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #006341;
  margin-bottom: 20px;
}

.listing-addr {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 10px;
}

.listing .description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#Fea03b, 0.95);
  color: #fefefe;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.description-layer div {
  display: flex;
  flex-direction: column;
}

.listing:hover .description-layer {
  visibility: visible;
  opacity: 1;
  box-shadow: 5px 5px #d4d3d3;
  border-radius: 2%;
}

.description {
  transition: .2s;
  text-align: center;
  margin: 0 25px 0 25px;
  font-size: 16px;
}

.listing-button {
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

.create-listing-button {
  padding: 15px;
  border-radius: .8em .8em .8em 0;
  box-shadow: 0 0 0 .05em #006341;
  background-color: #eff8f5;
  margin: 15px;
}

.create-listing-button button {
  font-size: 18px;
  color: #404442;
  border: .06em #657676 solid;
}

.primary-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-primary-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.create-primary-info input {
  margin: 10px 10px 10px 10px;
  font-size: 24px;
  outline: none;
  background-color: inherit;
  border-bottom: 1px #657676 solid;
}

.create-primary-info input.img-url-field {
  padding-right: 100px;
}

.create-primary-info textarea {
  margin: 10px 10px 10px 10px;
  resize: none;
  font-size: 24px;
  outline: none;
  background-color: inherit;
  border-bottom: 1px #657676 solid;
}

.create-primary-info .address {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 80px;
  margin: 10px 0 10px 0;
}

.create-primary-info button {
  border: .06em #657676 solid;
  margin: 40px;
  padding: 5px;
  font-size: 24px;
  color: #404442;
}


.sold-img {
  position: absolute;  display: flex;
  flex-direction: row;
  margin: 20px 10px 20px 20px;
  align-items: center;
  padding: 0 0 0 20px;
  left: 0px;
}

.sqr-inches {
  margin-top: 10px;
}

