body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fefefe;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .new-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .new-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .new-primary-info {
  color: #f17d00;
  font-size: 16px;
  margin: 20px 0 20px 0;
}

main .new-secondary-info {
  color: #f17d00;
  font-size: 16px;
  margin: 0 0 20px 0;
}

main .new-primary-info input {
  background-color: transparent;
  border: 2px solid #fed09e;
}

main .new-primary-info textarea {
  background-color: transparent;
  border: 2px solid #fed09e;
}

main .new-secondary-info input {
  background-color: transparent;
  border: 2px solid #fed09e;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  margin-top: auto;
  font-family: 'Andada Pro', serif;
  font-size: 18px;
  background-color: #006341;
  color: #fefefe;

}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer div p {
  margin: 0 10px 10px 10px;
}
