body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #FFFFFF;
  // background: linear-gradient(
  //   227deg,
  //   rgb(255, 255, 255) 0%,
  //   rgb(255, 255, 255) 20%,
  //   rgb(255, 255, 255) 34%,
  //   rgb(58, 59, 59) 59%,
  //   rgb(0, 0, 0) 74%,
  //   rgb(0, 0, 0) 100%
  // );
}

nav {
  display: flex;
  align-items: flex start;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  text-decoration: none;
  color: #FFFFFF;
}
