body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: wheat;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .new-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: #FFFFFF;
  text-align: center;
  margin-top: auto;
}
