header.message-show-header {
  border-bottom: var(--border);
  background: #eee;
  border: 0.5px solid #adc8bf;
  padding-left: 2em;
  padding-top: 1.5em;
  color: #006341;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Andada Pro', serif;
  font-weight: bold;
}

section.message-thread {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fefefe;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 16px;
}

.message {
  border: 2px solid #dedede;
  background-color: #d9eae4;
  border-radius: 5px;
  margin: 10px;
  width: fit-content;
  height: 5.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.lighter {
  display: flex;
  align-self: start;
  justify-content: flex-end;
  border-radius: 16px 16px 16px 0;
  margin-left: 2em;
  align-items: center;
  justify-content: flex-start;
}

.darker {
  display: flex;
  align-self: end;
  justify-content: flex-start;
  border-radius: 16px 16px 0px 16px;
  margin-right: 2em;
  align-items: center;
  justify-content: flex-start;
}

span.sender {
  width: 100%;
  color: #369775;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.reply-message-body {
  resize: none;
  width: 100%;
  background: #d9eae4;
  border-left: 2em;
  height: 3.2em;
  padding-left: 16px;
  padding-top: 8px;
}

textarea.reply-message-body:focus {
  outline: none;
  border-color: #369775;
  box-shadow: 0 0 4px #369775;
}

section.new-reply {
  width: 100%;
  border: 0.5px solid #adc8bf;
}

div.form-body {
  width: 100%;
  margin-top: 0.3em;
  margin-left: 1em;
}

#response-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#response-form * {
  padding-top: 12px;
  padding-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.time-left {
  display: flex;
  justify-content: left;
}

.time-right {
  display: flex;
  justify-content: flex-end;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

div.send-message-button {
  margin-left: 10px;
  margin-right: 10px;
}

#send-btn {
  background: #369775;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  width: 4.5em;
}

#send-btn:hover {
  background: #006341;
}

