* {
  margin: 0px; padding: 0px;
  border: none;
  box-sizing: border-box;
}

main.login-page-main {
  margin-top: 50px;
}

body {
  width: 100%; height: 80%;
}

header {
  border-bottom: var(--border);
  background: #eee;
  border: 0.5px solid #adc8bf;
  padding-left: 2em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  color: #006341;
  width: 100%;
  font-family: 'Andada Pro', serif;
  font-weight: bold;
}

header h3 {
  padding: 30px 0px 0px;
  font-size: 24px;
}

.messages-index {
  position: relative;
  display: flex;
  flex-direction: column;

  background: #fefefe;
  border-radius: 0px 5px 0px 0px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

#search {
  border: none;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
  padding: 15px;
  margin: 10px;
  height: 2.3em;
  background: #EEE;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

tr.message {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-right: 1em;
  padding-left: 1em;
  background: #d9eae4;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  align-content: center;
  position: relative;

  td.sender {
    color: #000;
    font-weight: bold;
    // margin-right: 2em;
    width: 20%;
  }

  td:nth-child(1) {
    text-align: left;
    flex-grow: 2;
  }

  td:nth-child(2) {
    text-align: left;
  }

  td:nth-child(3) {
    text-align: left;
    flex-grow:10;
  }

  .subject {
    color: #000;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 30%;
    text-align: left;
  }

  .sender, .subject, .body {
    padding-top: 10px;
  }

  .subject, .body {
    width: max-content;
  }

  .body {
    margin-right: 20px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subject-body {
    display: flex;
    gap: 5px;
  }

  div.view-message-button {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
  }

  #view-btn {
    border-color: #369775;
    background: #369775;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    width: 4.5em;
  }

  #view-btn:hover {
    background: #006341;
  }


}
