section.message-thread {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  #left-sender {
    justify-content: left;
  }

  #right-sender {
    justify-content: right;
  }

  .sender {
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  .time-right {
    display: flex;
    justify-content: flex-end;
  }

  .lighter {
    display: flex;
    align-content: flex-start;
  }

  .darker {
    display: flex;
    align-content: flex-end;
    border-color: #ccc;
    background-color: tomato;

    span.right {
      margin-left: 20px;
      margin-right:0;
    }

    .time-left {
      display: flex;
      justify-content: left;
    }
  }

}


