* {
  margin: 0px; padding: 0px;
  border: none;
  box-sizing: border-box;
}

body {
  font: 14px Tahoma, Geneva, sans-serif;
  width: 100%; height: 100%;
}

header {
  margin: 0px auto;
  position: relative;
  width: 90%;
  height: 80px;
}

header h3 {
  margin: 0px; padding: 30px 0px 0px;
  font-size: 24px;
}

.messages-index {
  position: relative;
  display: flex;
  flex-direction: column;

  background: #CCDDED;
  border-radius: 0px 5px 0px 0px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

#search {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #EEE;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

tr.message {
  clear: both;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 1em;
  padding-left: 1em;
  background: #bbd0e4;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: auto;

  .sender {
    color: #000;
    font-weight: bold;
    margin-right: 2em;
    width: 20%;
  }

  .subject {
    color: #000;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-right: 20px;
    width: 30%;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 50%;
  }

  // .date {
  //   position: absolute;
  //   right: 15px;
  // }
}
