nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Andada Pro', serif;
  font-size: 28px;
  padding: 0 20px 0 20px;
  height: 130px;
  background-color: #006341;
  color: #fefefe;
}

nav div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 300px;
}

nav a {
  text-decoration: none;
  color: #fefefe;
}

nav a.login-link {
  padding-top: 5px;
  padding-left: 100px;
  font-size: 22px;
}

nav a.login-link:hover {
  text-decoration: underline;
}

nav a.gnome-logo {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 10px 0 0 0;
  font-family: 'Cinzel', serif;
  color: #fefefe;
}

nav a p {
  font-size: 48px;
  position: absolute;
}

nav a p.small {
  position: absolute;
  margin: 50px 0 0 20px;
  font-size: 24px;
}

#second-gnome {
  position: absolute;
  margin: 45px 0 0 100px;
  font-size: 48px;
}

nav a:hover {
  text-decoration: none;
  color: #fefefe;
}

