nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  height: 120px;
  width: 100vw;
  background-color: #006341;
  color: #fefefe;
}

nav a {
  margin: 1em;
  text-decoration: none;
  color: #fefefe;
}

nav a.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 48px;
  color: #fefefe;
}

nav a:hover {
  text-decoration: none;
  color: #fefefe;
}

